h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #ffffff;
}

.container {
    width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/* =========== Page-header =========== */

.page-header {
    display: flex;
     

}

.page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding: 16px 0;
}

.logo-dark {
    color: #2e2f42;
}

.burger-button {
    width: 24px;
    height: 24px;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: #2f2f37;
}

.nav-list {
    display: none;
}


.nav-list-item {}

.nav-link {}

.current-page {}

.contacts {
    display: none;
}

.contacts-list {}

.contacts-list-items {}

.contacts-link {}

/* =========== Hero =========== */

.hero {
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-mob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-tab.jpg);
        }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-tab@2x.jpg);
        }
}

@media screen and (min-width: 1158px) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-desk.jpg);
        }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-desk@2x.jpg);
    }
}

.hero-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    margin: 0 auto 72px auto;
}

.button {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    max-height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin: 0 auto;
    border: none;
}

/* =========== Benefits =========== */

.section-benefits {

}

.section {
    padding: 96px 0;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.benefits-list-item {

}

.subtitle-benefits {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.benefits-thumb-icon {

}

.benefits-icon {
    display: none;
}

/* =========== Our Team =========== */

.section-team {
    background-color: #f4f4fd;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-list-item {
    width: 264px;
    margin: 0 auto;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-bottom {
    display: block;
    padding: 32px 16px;
    background-color: #fff;
}

.subtitle {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-bottom .text-content {
    display: block;
    font-weight: 400;
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #4d5ae5;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #f4f4fd;
}

.social-link-icon {}

/* =========== Portfolio =========== */

.section-portfolio {}

.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-list-item {
    display: block;
    margin: 0 auto;
    max-width: 288px;
}

.portfolio-list-item .subtitle,
.portfolio-list-item .text-content{
    text-align: start;
}

.portfolio-list-item .card-bottom {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-thumb {

}

.portfolio-overlay {
    display: none;
}

/* =========== Footer =========== */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer .logo {
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 17px;
}

.footer .logo-dark {
    color: #f4f4fd;
}

.footer-flexcontainer {
}

.footer-logo-container {
    display: block;
    margin-bottom: 72px;
}

.footer-logo-container .text-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social-container {
    text-align: center;
    margin-bottom: 72px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-container  .social-list{
    width: 208px;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
}

.footer-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.subscribe-form {

}

.footer-input-wrapper {}

.footer-subscribe-label {}

.footer-subscribe {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 0 8px 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    display: flex;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    max-height: 40px;
}


.footer-submit-icon {
    fill: #ffffff;
}



.backdrop {
    display: none;
}

.modal-window {}

.modal-close-button {}

.modal-close-icon {}

.modal-title {}

.modal-form {}

.modal-form-wrapper {}

.form-label {}

.input-wrapper {}

.modal-input {}

.input-icon {}

.modal-textarea-wrapper {}

.modal-textarea {}

.checkbox-container {}

.privacy-checkbox {}

.checkbox-label {}

.checkbox-icon {}

.chebox-icon-svg {}

.privacy-link {}

.modal-button-send {}