h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #ffffff;
}

/* Visually-hidden */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* General styles */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-dark {
    color: #2e2f42;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Section Header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-header .container {
    display: flex;    
}

.page-nav {
    display: flex;
    align-items: center;
}

.page-nav .logo {
    margin-right: 76px;
}

.nav-list {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-list-item:not(:last-child){
        margin-right: 40px;
}

.nav-link {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}

.contacts {
    margin-left:auto;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contacts-list {
    display: flex;
}

.contacts-list-items:not(:last-child){
    margin-right: 40px;
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

/* Section Hero */

.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    text-align: center;
}

.hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.button {
    display: block;
    min-width: 169px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    border: 0;
    margin: 0 auto;
    padding: 16px 32px;

}

.button:hover,
.button:focus {
    background-color: #404bbf;
}


/* Section benefits */
.benefits-list {
    display: flex;
}

.benefits-list-item {
    flex-basis: calc((100% - 72px) / 4);
}

.benefits-list-item:not(:last-child) {
    margin-right: 24px;
}

/* Section Our Team */

.section-team {
    background-color: #f4f4fd;
}

.team-list {
    display: flex;
}

.team-list-item {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    text-align: center;
    flex-basis: calc((100% - 72px) / 4);
}   

.team-list-item:not(:last-child) {
    margin-right: 24px;
}

.card-bottom {
    display: block;
    padding: 32px 0;
    border: 0;
    border-radius: 0 0 4px 4px;
}

/* Section Our portfolio */

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    flex-basis: calc((100% - 48px) / 3);
}

.portfolio-list-item .card-bottom {
    border: 1px solid #e7e9fc;
    border-top: 0;
    padding: 32px 16px;
}

 /* Footer */

 .footer {
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
 }

 .footer .logo {
    display: inline-block;
    margin-bottom: 16px;
 }

 .footer .logo-dark {
    color: #f4f4fd;
 }

 .footer .text-content {
    max-width: 264px;
 }