h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    color: #434455;
    background-color: #ffffff;
}

.container {
    max-width: 320px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
    padding: 96px 0;
}

@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media only screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }

    .section {
        padding: 120px 0;
    }
}

/* =========== Page-header =========== */

.page-header {
    padding: 16px 0;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-dark {
    color: #2e2f42;
}

.burger-button {
    width: 24px;
    height: 24px;
    display: block;
    border: none;
    background-color: transparent;
    padding: 0;
    fill: #2f2f37;
}

.nav-list,
.contacts {
    display: none;
} 

.page-nav {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
    .page-header {
            padding:0;
        }

    .burger-button {
        display: none;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .contacts {
        display: flex;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .page-nav .logo {
        margin-right: 120px;
    }

    .nav-list-item {
        display: flex;
    }

    .nav-link {
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        position: relative;
    }

    .current-page::after {
        display: block;
        content: "";
        position: absolute;
        left: 0px;
        bottom: -1px;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404bbf;
    } 
    
    .contacts-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        font-style: normal;
    }

    .contact-link {
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts-link:hover,
    .contacts-link:focus,
    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    
}

@media only screen and (min-width: 1158px) {
      .page-nav .logo {
             margin-right: 76px;
      }

      .contacts-list {
        flex-direction: row;
        gap: 40px;
      }
}

/* =========== Hero =========== */

.hero {
    max-width: 320px;
    padding: 72px 0;
    margin: 0 auto;
    background-color: #2e2f42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-mob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-tab.jpg);
        }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-tab@2x.jpg);
        }
}

@media screen and (min-width: 1158px) {
    .hero {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-desk.jpg);
        }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/img-hero-desk@2x.jpg);
    }
}

.hero-title {
    max-width: 216px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    margin: 0 auto 72px auto;
}

.button {
    display: block;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    max-height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    margin: 0 auto;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404bbf;
}

@media only screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        padding: 112px 0;
    }

    .hero-title {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 36px;
    }
    
}

@media only screen and (min-width: 1158px) {
    .hero {
        max-width: 1440px;
        background-color: #2e2f42;
        padding: 188px 0;
    }

    .hero-title {
        margin-bottom: 48px;
    }
}


/* =========== Benefits =========== */



.benefits-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}



.subtitle-benefits {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.text-content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.benefits-icon {
    display: none;
}

@media only screen and (min-width: 768px) {
    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }

    .subtitle-benefits {
        text-align: start;
}


}

@media only screen and (min-width: 1158px) {
    .subtitle-benefits {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .text-content {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .benefits-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .benefits-list-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }

    .benefits-thumb-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        background-color: #f4f4fd;
        border: 1px solid #8e8f99;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    
    .benefits-icon {
        display: flex;
        }
}

/* =========== Our Team =========== */

.section-team {
    background-color: #f4f4fd;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

.team-list-item {
    width: 264px;
    margin: 0 auto;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.card-bottom {
    display: block;
    padding: 32px 16px;
    background-color: #fff;
}

.subtitle {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-bottom .text-content {
    display: block;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #4d5ae5;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
} 

@media only screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 93px;
        column-gap: 24px;
        row-gap: 64px;
    }
}

@media only screen and (min-width: 1158px) {
    .team-list {
        margin: 0;
        row-gap: 0;
    }
}

/* =========== Portfolio =========== */


.portfolio-list {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.portfolio-list-item {
    display: block;
    width: 288px;
    margin: 0 auto;

}

.portfolio-list-item .subtitle,
.portfolio-list-item .text-content{
    text-align: start;
}

.portfolio-list-item .card-bottom {
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


.portfolio-thumb {
}

.portfolio-overlay {
    display: none;
}

@media only screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }

    .portfolio-list-item {
        width: 356px;
    }

}

@media only screen and (min-width: 1158px) {
    .portfolio-list {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    .portfolio-list-item {
        flex-basis: calc((100% - 48px) / 3);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-thumb {
        position: relative;
        overflow: hidden;
    }
    
    .portfolio-overlay {
        display: block;
        padding: 40px 32px;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        color: #f4f4fd;
        position: absolute;
        top:0;
        transform: translateY(100%);

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .portfolio-list-item:hover{
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

    .portfolio-list-item:hover .portfolio-overlay {
        transform: translateY(0%);
    }
}



/* =========== Footer =========== */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer .logo {
    display: block;
    text-align: center;
    padding: 0;
    margin-bottom: 17px;
}

.footer .logo-dark {
    color: #f4f4fd;
}

.footer-logo-container {
    display: block;
    margin-bottom: 72px;
}

.footer-logo-container .text-content{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-social-container {
    text-align: center;
    margin-bottom: 72px;
}

.social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-social-container  .social-list{
    width: 208px;
    gap: 16px;
    margin-left: auto;
    margin-right: auto;
}

.footer-social-container .social-link:hover,
.footer-social-container .social-link:focus {
    background-color: #31D0AA;
}


.footer-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-subscribe {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 288px;
    height: 40px;
    background-color: transparent;
    outline: transparent;
    padding: 8px 0 8px 16px;
    margin-bottom: 16px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.footer-subscribe::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-button {
    display: flex;
    gap: 16px;
    border-radius: 4px;
    padding: 8px 24px;
    min-width: 165px;
    max-height: 40px;
}

.footer-submit-icon {
    fill: #ffffff;
}

@media only screen and (min-width: 768px) {
    .footer-flexcontainer {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .footer .logo {
        display: block;
        text-align: start;
        margin-bottom: 16px;
    }

    .footer-logo-container {
        display: block;
        max-width: 264px;
        margin-left: 93px;
    }

    .footer-social-container {
        text-align: start;
        margin-bottom: 0;
    }

    .footer-form-container {
        align-items: start;
        margin-left: 93px;
    }

    .footer-input-wrapper {
        display: flex;
        gap: 24px;
    }

    .footer-subscribe {
        max-width: 264px;
    }
}

@media only screen and (min-width: 1158px) {
    .footer {
        padding: 100px 0;
    }

    .footer-flexcontainer {
        align-items: baseline;
        gap: 0;
    }

    .footer-logo-container {
        margin-right: 120px;
        margin-left: 0;
    }

    .footer .logo {
        margin-bottom: 16px;
    }

    .footer-social-container {
        margin-right: 80px;
    }

    .footer-form-container {
        margin-left: 0;
    }

    .footer-subscribe {
        border: 1px solid #fff;
    }

    .footer-subscribe::placeholder {
        color: #ffffff;
    }
}


.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
}

.modal-window {
    position: absolute;
    padding: 72px 16px 24px 16px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 288px;
    min-height: 623px;
    background-color: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-content {
    display: flex;
    flex-direction: column;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 16px;
    color: #2E2F42;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    padding: 0;
    cursor: pointer;
    margin-bottom: 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
    background-color: #404bbf;
    border: none;
}

.modal-close-button:hover .modal-close-icon,
.modal-close-button:focus .modal-close-icon {
    fill: #ffffff;
}

.modal-form-wrapper {
    margin-bottom: 8px;
}

.form-label {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}

.modal-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 256px;
    height: 40px;
    margin-top: 4px;
    padding-left: 38px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
    border-color: #4d5ae5;
}


.modal-input:focus+.input-icon {
    fill: #4d5ae5;
}

.input-wrapper {
    position: relative;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    cursor: pointer;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea-wrapper {
    margin-bottom: 16px;
}

.modal-textarea {
    resize: none;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    margin-top: 4px;
    padding: 8px 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
    border-color: #4d5ae5;
}

.modal-textarea::placeholder {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
}

/* КАСТОМНЫЙ ЧЕКБОКС! START */
.checkbox-container {
    margin-bottom: 24px;
}

.checkbox-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    fill: transparent;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .checkbox-label {
        display: flex;
        align-items: center;
    }
}

.checkbox-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 16px;
    min-height: 16px;
    fill: transparent;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-checkbox:checked+.checkbox-label .checkbox-icon {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

/* КАСТОМНЫЙ ЧЕКБОКС END */

.privacy-link {
    line-height: 1.33;
    text-decoration: underline;
    color: #4d5ae5;
}
